.sidebar {
  display: flex;
  flex-direction: column;
  margin-right: 16px;
  border-right: 2px solid;
  padding-right: 16px;
}
.sidebar > button {
  margin-bottom: 16px;
  padding: 8px;
}
.container {
  display: flex;
}
table > tr {
  border: 1px solid black;
}